*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 400px;
    height: 80vh;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(153, 153, 153, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 1rem;
    overflow: hidden;
}

#display {
    background-color: rgba(57, 57, 57, 0.75);
    color: white;
    text-align: right;
    height: auto;
    min-height: 90px;
    width: 100%;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
}

.buttons {
    height: 100%;
    width: 100%;
    display: grid;
    /* border-bottom: 1px solid #999; */
    /* border-left: 1px solid #999; */
    grid-template-columns: repeat(4, 100px);
}

.button {
    border: 1px solid rgba(57, 57, 57, 0.5);
    line-height: 60px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    /* border-radius: 35rem; */
}

#equal {
    background-color: #00AAFF;
    color: white;
    font-weight: bold;
}

.button:hover {
    background-color: rgb(57, 57, 57);
    color: white;
    transition: 0.5s ease-in-out;
}